<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        function validation(e)
        {
            // array used to check the seat codes are valid ones
            const validSeats = ["1A", "1B", "1C", "1D", "1E",
                "2A", "2B", "2C", "2D", "2E",
                "3A", "3B", "3C", "3D", "3E",
                "4A", "4B", "4C", "4D", "4E",]

            let seatNumber =  document.getElementById('seatNumber').value;
            let userName = document.getElementById('name').value;

            if (seatNumber === "" || userName === "") {
                alert("Seat or name cannot be blank");
                e.preventDefault();
            } else {
                if (!validSeats.includes(seatNumber)) {
                    alert("Please follow the seat code format");
                    e.preventDefault()
                }
            }


        }
    </script>
</head>
<body>
<h1 style="text-align: center">Seat Reservation System</h1>
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p:${listSeatRows}">
        <td th:text="${p.a}"></td>
        <td th:text="${p.b}"></td>
        <td th:text="${p.c}"></td>
        <td th:text="${p.d}"></td>
        <td th:text="${p.e}"></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<h1 style="text-align: center" th:text="'There are ' + ${20 - listReservations.size()} + ' remaining seats'"></h1>
<div style="margin: auto">
<form method="post" th:action="@{addReservation}">
    <label>Seat Code:</label>
    <input  type="text" name="seatNumber" id="seatNumber"
            th:value="${newReservation.seatNumber}">
    <span th:errors="${newReservation.seatNumber}"></span>
    <label>Customer Name:</label>
    <input  type="text" name="name" id="name"
            th:value="${newReservation.name}">
    <span th:errors="${newReservation.name}"></span>
    <br>
    <label>Transaction Date:</label>
    <input  type="date" name="reservationDate" id="reservationDate" format="yyyy-mm-dd"
            th:value="${{newReservation.reservationDate}}">


    <span th:errors="${newReservation.reservationDate}"></span>
    <br>
    <button type="submit" class="btn-primary" onclick="validation(event);">Reserve</button>
</form>
</div>
<br>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Transaction Code</th>
        <th>Date</th>
        <th>Seat Number</th>
        <th>Name</th>

        <th></th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="p:${listReservations}">
        <td th:text="${p.getId()}"></td>
        <td th:text="${p.getReservationDate()}"></td>
        <td th:text="${p.getSeatNumber()}"></td>
        <td th:text="${p.getName()}"></td>

        <td>
            <a class="btn btn-danger" onClick="return confirm('Are you sure you want to delete the record?')" th:href="@{deleteReservation(id=${p.getId()})}">Delete</a>
        </td>
        <td>
            <a class="btn btn-success" th:href="@{editReservation(id=${p.getId()})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>